<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Entrez un nouveau mot de passe{% endblock %}

{% block content %}


<p>
<b>Message de réinitialisation du mot de passe envoyé.</b> <br><br>

Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.
<br>
Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
<button onclick="window.location='/'" class="btn btn-info">Retour</button>
{% endblock %}
